---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Site Name: {{ metadata.title }}
Maintainer: {{ metadata.author }}
Converter: Codex

/* THEME CREDIT */
Original Theme: TryGhost Source
Repository: https://github.com/TryGhost/Source
Reference Site: https://source.ghost.io/

/* TECHNOLOGY */
Built with: {{ eleventy.generator }}, Handlebars, Luxon, ESM JavaScript
